<div class="card">

    <div class="card-title">
        ⚙ CONFIG
    </div>

    <table class="info-table">

        <tr>
            <td>Coin</td>
            <td>{{ config_data.coin }}</td>
        </tr>

        <tr>
            <td>Entry Price</td>
            <td>{{ config_data.entry_price }}</td>
        </tr>

        <tr>
            <td>Capital</td>
            <td>{{ config_data.capital }}</td>
        </tr>

        <tr>
            <td>Take Profit</td>
            <td>{{ config_data.take_profit }} %</td>
        </tr>

        <tr>
            <td>Trailing Gap</td>
            <td>{{ config_data.trailing_gap }} %</td>
        </tr>

        <tr>
            <td>Refresh</td>
            <td>{{ config_data.interval }} sec</td>
        </tr>

    </table>

</div>
