<div class="card">

    <div class="card-title">

        🤖 BOT STATUS

    </div>

    <div class="card-value">

        {{ bot_status }}

    </div>

</div>

<div class="card">

    <div class="card-title">

        ⚙ ENGINE

    </div>

    <div class="card-value">

        {{ engine.state }}

    </div>

</div>

<div class="card">

    <div class="card-title">

        🪙 COIN

    </div>

    <div class="card-value">

        {{ engine.coin }}

    </div>

</div>

<div class="card">

    <div class="card-title">

        💰 CURRENT PRICE

    </div>

    <div class="card-value">

        {{ engine.current_price }}

    </div>

</div>

<div class="card">

    <div class="card-title">

        🔗 API

    </div>

    <div class="card-value">

        {{ api_status }}

    </div>

</div>
