<div class="card">

    <div class="card-title">
        🤖 BOT SUMMARY
    </div>

    <table class="info-table">

        <tr>

            <td>Status</td>

            <td align="right">

                {% if bot_status=="RUNNING" %}

                <span style="color:#22c55e;font-weight:bold;">
                    🟢 RUNNING
                </span>

                {% else %}

                <span style="color:#ef4444;font-weight:bold;">
                    🔴 STOPPED
                </span>

                {% endif %}

            </td>

        </tr>

        <tr>

            <td>Queue</td>

            <td align="right">

                <b>
                    {{ queue_count }}
                </b>

            </td>

        </tr>

        <tr>

            <td>Waiting</td>

            <td align="right">

                <span style="color:#3b82f6;font-weight:bold;">

                    {{ waiting_count }}

                </span>

            </td>

        </tr>

        <tr>

            <td>Active</td>

            <td align="right">

                <span style="color:#22c55e;font-weight:bold;">

                    {{ active_count }}

                </span>

            </td>

        </tr>

        <tr>

            <td>API</td>

            <td align="right">

                {% if api_status=="Connected" %}

                <span style="color:#22c55e;">
                    🟢 Connected
                </span>

                {% else %}

                <span style="color:#ef4444;">
                    🔴 Disconnected
                </span>

                {% endif %}

            </td>

        </tr>

    </table>

</div>
