<div class="card">

    <div class="card-title">
        🎯 TRADE SETUP
    </div>

    <table class="info-table">

        <tr>
            <td>Coin</td>
            <td>
                <b>{{ engine.coin or "-" }}</b>
            </td>
        </tr>

        <tr>
            <td>Entry Price</td>
            <td>
                <b>{{ config_data.entry_price }}</b>
            </td>
        </tr>

        <tr>
            <td>Target Price</td>
            <td>
                <b>{{ config_data.target_price }}</b>
            </td>
        </tr>

        <tr>
            <td>Current Price</td>
            <td>
                <b>{{ engine.current_price }}</b>
            </td>
        </tr>

        <tr>
            <td>Capital</td>
            <td>
                <b>{{ config_data.capital }}</b>
            </td>
        </tr>

        <tr>
            <td>Trailing Gap</td>
            <td>
                <b>{{ config_data.trailing_gap }} %</b>
            </td>
        </tr>

    </table>

</div>
