<div class="card">

    <div class="card-title">
        💰 WALLET
    </div>

    <table class="info-table">

        <tr>

            <td>IDR Balance</td>

            <td>

                <b>

                    Rp {{ "{:,.0f}".format(wallet.idr).replace(",", ".") }}

                </b>

            </td>

        </tr>

        <tr>

            <td>Coin Balance</td>

            <td>

                <b>{{ wallet.coin }}</b>

            </td>

        </tr>

        <tr>

            <td>Total Asset</td>

            <td>

                <b>

                    Rp {{ "{:,.0f}".format(wallet.equity).replace(",", ".") }}

                </b>

            </td>

        </tr>

    </table>

</div>
