body{

    margin:0;

    background:#111827;

    color:white;

    font-family:Arial;

}

.navbar{

    background:#1f2937;

    padding:16px;

    text-align:center;

    font-size:22px;

    font-weight:bold;

}

.container{

    padding:15px;

}

.card{

    background:#1f2937;

    border-radius:12px;

    padding:15px;

    margin-bottom:15px;

}

.card h2{

    margin:0 0 10px;

    color:#22c55e;

}

.card p{

    font-size:20px;

    margin:0;

}

.footer{

    text-align:center;

    padding:20px;

    color:#888;

}
