<div class="container">

    <div id="summary-card">
        {% include "partials/summary_card.html" %}
    </div>

    <div id="position-card">

        {% if trade_setups %}

            {% for trade in trade_setups %}
                {% include "partials/target_trade_card.html" %}
            {% endfor %}

        {% else %}

            {% include "partials/position_card.html" %}

        {% endif %}

    </div>

    <div id="wallet-card">
        {% include "partials/wallet_card.html" %}
    </div>

    <div id="config-card">
        {% include "partials/config_card.html" %}
    </div>

</div>
